body{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}
a{
  cursor:pointer;
  outline: none;
}
/*img { 
  display: block;
  width: auto; 
  height: auto; 
  max-width: 100%; 
}*/
/* FOR SLIDES */

/*
essential styles:
these make the slideshow work
*/
#slides{
	position: absolute;
	height: 100%;
	padding: 0px;
	list-style-type: none;
}

.slide{
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}
/*
Buttons appearance
*/
.back,
.controls,
.forward{
    position: fixed;
    top: 2%;
    z-index: 3;
    outline: none;
    background-color: #00498A;
    font-size: 80%;
    border-radius: 5%;
    border: 1px solid #F48229;
    box-shadow: 0 2px 0 #F48229;
}
.controls:active,
.forward:active,
.back:active {
  transform: translateY(1px);
  box-shadow: 0 1px 0 silver;
}
.back{
    padding: 1% 1% 1% 1%;
    right: 13%;
}
.controls{
    padding: 1% 3% 1% 3%;
    right: 4.9%;
}
.forward{
    padding: 1% 1% 1% 1%;
    right: 1%;
}
/*
Slides appearance
*/

.slide{
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  max-width: 100vw;
  max-height: 100vh;
}
#adobe, #adobeShorter {
  position: fixed; 
  bottom: 5%; 
  left: 3%;
  min-width: 10vw;
  max-width: 20vw;
  z-index: 5;
}
#adobe{
  min-height: 50vh;
  max-height: 20vh;
}
#adobeShorter {
  min-height: 30vh;
  max-height: 40vh;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}