body{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}
a{
  cursor:pointer;
  outline: none;
}
/*img { 
  display: block;
  width: auto; 
  height: auto; 
  max-width: 100%; 
}*/
/* FOR SLIDES */

/*
essential styles:
these make the slideshow work
*/
#slides{
	position: absolute;
	height: 100%;
	padding: 0px;
	list-style-type: none;
}

.slide{
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}
/*
Buttons appearance
*/
.back,
.controls,
.forward{
    position: fixed;
    top: 2%;
    z-index: 3;
    outline: none;
    background-color: #00498A;
    font-size: 80%;
    border-radius: 5%;
    border: 1px solid #F48229;
    box-shadow: 0 2px 0 #F48229;
}
.controls:active,
.forward:active,
.back:active {
  transform: translateY(1px);
  box-shadow: 0 1px 0 silver;
}
.back{
    padding: 1% 1% 1% 1%;
    right: 13%;
}
.controls{
    padding: 1% 3% 1% 3%;
    right: 4.9%;
}
.forward{
    padding: 1% 1% 1% 1%;
    right: 1%;
}
/*
Slides appearance
*/

.slide{
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
}
/*
.slide:nth-of-type(1){
	background: url(Slide0.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide:nth-of-type(2){
	background: url(Slide1.png)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide:nth-of-type(3){
	background: url(Slide2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide:nth-of-type(4){
	background: url(Slide3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slide:nth-of-type(5){
	background: url(Slide4.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  max-width: 100vw;
  max-height: 100vh;
}
#adobe {
  position: fixed; 
  bottom: 5%; 
  left: 3%;
  min-width: 10vw;
  min-height: 50vh;
  max-width: 20vw;
  max-height: 20vh;
  z-index: 5;
}
#adobeShorter {
  position: fixed; 
  bottom: 5%; 
  left: 3%;
  min-width: 10vw;
  min-height: 30vh;
  max-width: 20vw;
  max-height: 40vh;
  z-index: 5;
}